.wrap {
			width: 100%;
		}
		.image {
			background-image: url('chat/35336361-ask-us-concepts-isolated-on-background.jpg');
			position: relative;
			height: 100vh;
			
		}
		.image:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background: rgba(0,0,0,0.5);
		}
		.text {
			color: #FFF;
			position: relative;
		}
