<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<h2>Login</h2>
<form method="post" action="/accounts/aflogin/">
	{% csrf_token %}
	<input type="hidden" id="csrf_token" value='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
	<table>
        <tr>
            <td>Enter your uname:</td>
            <td><input type="text" name="uname"/></td>
        </tr>
        <tr>
            <td>Enter your password:</td>
            <td><input type="password" name="password"/></td>
        </tr>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>

    </table>
</form>
</body>
</html>
