
{% extends 'InventoryManagement/base.html' %}

{% block content %}
</div>

<br>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Blood Type</th>
			<th>UNITS</th>
			<th>Price</th>
		</tr>
	</thead>

	<tbody>
		
		{% for item in items %}
			<tr>
				<td>{{ item.blood_type }}</td>
				<td>{{ item.units }}</td>
				<td>500</td>
			</tr>
			

		{% endfor %}
	<form method="POST" action="{% url 'checkout' %}">
			{% csrf_token %}
		<div class="form-group" >
				<button class="btn btn-outline-info" type="submit">Proceed to Checkout</button>
		</div>
	</form>
	</tbody>

</table>	

{% endblock content %}