.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

  .align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

  .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

  .ftco-services .heading-section h2 {
    color:#FF5233; }

.services .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 0; }
 .services .icon:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    bordeR: 1px solid black;
    z-index: -1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }

   .services .icon span {
    font-size: 60px;
    color: black;
    z-index: 1; }

.services h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color:#FF5233;
  text-transform: uppercase; }

  .services:hover .icon span {
  color: #fff; }

.services:hover .icon:after {
  border: none;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #FF5233; }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

	.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

 .ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }


 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

 .heading-section .subheading {
  font-size: 14px;
  display: block;
  margin-bottom: 10px; }

.heading-section h2 {
  font-size: 50px;
  font-weight: 400;
  position: relative;
   }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }

	p {
  margin-top: 10;
  margin-bottom: 1rem;
  line-height:200%;  }

  .text-center {
  text-align: center !important; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
