{% extends 'InventoryManagement/base.html' %}

{% block content %}

<br>
<div class="button-group">
	<a href="{% url 'inv-RBC' %}" class="btn btn-primary btn-md" role="button">RBCL</a>
	<a href="{% url 'inv-Plasma' %}" class="btn btn-primary btn-md" role="button">Plasma</a>
	<a href="{% url 'inv-Platelet' %}" class="btn btn-primary btn-md" role="button">Platelets</a>

	<a href="{% url 'inv-add' %}" class="btn btn-success" role="button">Add Stock</a>
	<a href="{% url 'inv-delete' %}" class="btn btn-danger" role="button">Delete Stock</a>
	<a href="{% url 'inv-unit' %}" class="btn btn-danger" role="button">Unit Account</a>

</div>

<br>
<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Blood Type</th>
			<th>Current Inventory</th>
			<th>Price</th>
		</tr>
	</thead>

	<tbody>
		
		{% for item1 in items1 %}
			<tr{% if item1.current_inv < 3 %} class="bg-danger text-light"{% endif %}>
				<td>{{ item1.pk }}</td>
				{% if item1.blood_type %}
					<td>{{ item1.blood_type }}</td>
				{% else %}
					<td>ALL TYPES</td>
				{% endif %}
				<td>{{ item1.current_inv }}</td>
				<td>{{ item1.price }}</td>
			</tr>


		{% endfor %}

	</tbody>

</table>	

{% endblock content %}