{% extends "base.html" %}


<!DOCTYPE html>

<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <title>BLOOD BANK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->


      <style>
        img.resize{
            height:450px;
            width:800px;
        }
        .c1{
	        top:100px;
	        left:700px;
	        position:absolute;
        }
    </style>

</head>
<body>
{% block body %}

  <section id="intro">
    <div class="jumbotron masthead">
      <div class="container">
        <!-- slider navigation -->
        <div class="sequence-nav">

        </div>
        <!-- end slider navigation -->
        <div class="row">
          <div class="span12">
            <div id="slider_holder">
              <div id="sequence">
			    <div class=" container main-login main-center">
                <form class="form">
                    <h2 style="color:red;text-align:center">Hospital Portal</h2>
                    Blood Group Required:
					<table>
						   <tr><td><input type="radio" name="radio" id="Opradio" value="O+">O+</td>
						   <td><input type="radio" name="radio" id="Onradio" value="O-">O-</td>
						   </tr>
						   <tr>
						   <td><input type="radio" name="radio" id="Apradio" value="A+">A+</td>
						   <td><input type="radio" name="radio" id="Anradio" value="A-">A-</td>
						   </tr>
						   <tr>
						   <td><input type="radio" name="radio" id="Bpradio" value="B+">B+</td>
						   <td><input type="radio" name="radio" id="Bnradio" value="B-">B-</td>
						   </tr>
						   <tr>
						   <td><input type="radio" name="radio" id="ABpradio" value="AB+">AB+</td>
						   <td><input type="radio" name="radio" id="ABnradio" value="AB-">AB-</td>
						   </tr>
					</table>
						<br>
                    <div class="form-group">
                        Units of blood required:
                        <input type='number' name="units">
                    </div>
                    <div class="form-group">
                        Hospital's Licence Number:
                        <input type='number' name="licence">
                    </div><br>
                    <center><button class="btn btn-success button">Submit</button></center>
				</form>

				</div>
      </div>
            </div>
            <!-- Sequence Slider::END-->
          </div>

        </div>
      </div>
    </div>
      {% endblock %}
  </section>



  <!-- Footer
 ================================================== -->
  <footer class="footer">

    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; BloodBank - All right reserved
            </p>
          </div>

        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="{% static "assets/js/jquery.min.js" %}"></script>
  <script src="{% static "assets/js/jquery.easing.js" %}"></script>
  <script src="{% static "assets/js/google-code-prettify/prettify.js" %}"></script>
  <script src="{% static "assets/js/modernizr.js" %}"></script>
  <script src="{% static "assets/js/bootstrap.js" %}"></script>
  <script src="{% static "assets/js/jquery.elastislide.js" %}"></script>
  <script src="{% static "assets/js/sequence/sequence.jquery-min.js" %}"></script>
  <script src="{% static "assets/js/sequence/setting.js" %}"></script>
  <script src="{% static "assets/js/jquery.prettyPhoto.js" %}"></script>
  <script src="{% static "assets/js/application.js" %}"></script>
  <script src="{% static "assets/js/jquery.flexslider.js" %}"></script>
  <script src="{% static "assets/js/hover/jquery-hover-effect.js" %}"></script>
  <script src="{% static "assets/js/hover/setting.js" %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src="{% static "assets/js/custom.js" %}"></script>

</body>
</html>
