<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">


    <head>
      <title>forgot password</title>

    {% block extra_head %}
    {% endblock %}
    {% block style %}
    {% endblock %}
    {% block }
      </head>

<body>
  {% block body %}
  <section id="intro">
    <div class="row">
      <div class="span12">
        <div id="slider_holder">
          <div id="sequence">
    <div class="container main-login main-center" style="margin-left: 20%; height:300px;">
      {% if error %}
      <center><div style="                background-color: salmon;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
">Please enter correct OTP.</div><br><br></center>
    {% endif %}
    <form method="post" action="/accounts/confirm_register/">
      {% csrf_token %}
    <input type="hidden" value="{{ uname }}" name="uname"/>
    <input type="hidden" value="{{ catg }}" name="catg"/>
    <center>Hello {{ uname }} .Enter OTP sent to your mail id:
           <br><br>
        <table>
            <tr>
              <td align="middle"><input type="number" class="w3-input"  name="code"/><br><br></td>
            </tr>
            <tr>
              <td align="middle"><input type="submit" style="
                background-color: rgb(46, 46, 46);
                border: none;
                color: white;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                " value="Submit" /></td>
            </tr>

        </table>
        </center>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
</body>
</html>
