<!DOCTYPE html>
{% extends "base.html" %}

<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
</head>

<body style="font-size:16px">

  {% block body %}

    <section id="intro" style="height:550px;">
        <center>
        <div class="container">
            <form method="post" action="/api/api_token_auth/">
                {% csrf_token %}
                <h2>API toekn generation</h2>
                <hr>
                        <td  style='color:black;'>Enter your User Name:</td>
                        <td  style='color:black;'><input type="text" name="username" required/></td><br><br>
                        <td  style='color:black;'>Enter your password:</td>&nbsp;&nbsp;&nbsp;
                        <td  style='color:black;'><input type="password" name="password" required/></td><br><br>
                        <input type = "submit" value="Submit"/>
            </form>
        </div>
        <a href="/api/api_register" style="font-size:15px;color:maroon;">Register</a>
        </center>
    </section>
    {% endblock %}

</body>
</html>
