<!DOCTYPE html>
{% extends "base.html" %}

<html lang="en">
<head>

  {% block extra_head %}


   <style>

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  width: 200px;
}

   </style>

  {% endblock %}

  {% block style %}
  {% endblock %}
</head>

<body>
{% block body %}

<section id="intro">
<table>
  <tr>
    <td>
      <div class="wrapper">
        <div class="picture">
          <div class="hook"></div>
          <div class="frame">
            <div class="inside" >
                <center> </center>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="picture">
          <div class="hook"></div>
          <div class="frame">
            <div class="inside1">
                  <center></center>
            </div>
          </div>
        </div>
      </div>



  </div>
    </td>

  <td>
<div class="row">
  <div>
    <div id="slider_holder">
      <div id="sequence1">
        <div class="container main-login main-center">
          <div class="limiter">
  		<div class="container-login100">
  			<div class="wrap-login100">
  				<div class="login100-form-title">
  					<span class="login100-form-title-1">
  						Sign In
  					</span>

  		</div>
  	</div>
  	</div>

  </div>
  <br>
  <center>
        <form method="post" action="/accounts/login/" class="form">

	{% csrf_token %}
    {% if error %}
      <div class="alert">
        <span class="closebtn"></span>  
         Invalid credetials.
      </div>
    {% endif %}
	<table>
        <tr>
              <td>{{ form }}</td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button class="buttonall">Submit</button>
            </td>
        </tr>
    </table><br>
    <div class="fpass">
        <a href="/accounts/forgot_password">Forgot password?</a>
    </div>

</form>
</center>

</div>

</div>

</div>
</td>

</tr>
</table>
</section>
{% endblock %}

</body>


</html>
