{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BLOOD BANK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static "assets/css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/docs.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/patient.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/prettyPhoto.css" %}" rel="stylesheet">
    <link href="{% static "assets/js/google-code-prettify/prettify.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/flexslider.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/sequence_patient.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/user_card.css" %}" rel="stylesheet">
    <link href="{% static "assets/color/default.css" %}" rel="stylesheet">


</head>
<body>

    <header>

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html"><img src="{% static "assets/img/logo.png" %}"  width="129" height="10" alt=""></a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li class="dropdown active">
                  <a href="index.html" style="font-size:20px">Home</a>
                </li>

                <li class="dropdown">
                  <a href="#" style="font-size:20px">Blog</a>
                </li>
                <li>
                  <a href="#" style="font-size:20px">Contact</a>
                </li>
				<li>
                  <a href="#" style="font-size:20px">LogOut</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
<section id="intro">
<div class="jumbotron masthead">
<div class="container">
<!-- slider navigation -->
<div class="sequence-nav">

</div>
<!-- end slider navigation -->
<div class="row">
  <div class="span12">
    <div id="slider_holder">
      <div id="sequence">
        <div class=" container main-login main-center">
            <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
                <h2 style="color:red;text-align:center">Patient Portal</h2>
                    <br>


                    <div class="form-group">
						Working hours:
						From
                        {{ form.from_time }}
                    </div>
						<div style="margin-left:120px;">
							To
                            {{ form.to_time }}
						</div>
                        <br>
            <table>
            <tr>
                <td>User Name:</td>
                <td>{{ form.user_name }}</td>

            </tr>
            <tr>
                <td>Type of blood required:</td>
                <td>{{ form.blood_group }}</td>

            </tr>
            <tr>
                <td>Units of blood required:</td>
                <td>{{ form.blood_units }}</td>
            </tr>
            <tr>
            <td>Doctors Prescription Certificate:

                <td>{{ form.picture }}</td>
            </tr>
             </table>

                <button type="submit">Upload</button>

                    {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}


    </form>

    </div>
      </div>

</div>
    </div>
    <!-- Sequence Slider::END-->
  </div>

</div>
</div>
</div>
</section>



  <!-- Footer
 ================================================== -->
  <footer class="footer">

    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; BloodBank - All right reserved
            </p>
          </div>

        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->

    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.easing.js" %}"></script>
    <script src="{% static "assets/js/google-code-prettify/prettify.js" %}"></script>
    <script src="{% static "assets/js/modernizr.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.js" %}"></script>
    <script src="{% static "assets/js/jquery.elastislide.js" %}"></script>
    <script src="{% static "assets/js/sequence/sequence.jquery-min.js" %}"></script>
    <script src="{% static "assets/js/sequence/setting.js" %}"></script>
    <script src="{% static "assets/js/jquery.prettyPhoto.js" %}"></script>
    <script src="{% static "assets/js/application.js" %}"></script>
    <script src="{% static "assets/js/jquery.flexslider.js" %}"></script>
    <script src="{% static "assets/js/hover/jquery-hover-effect.js" %}"></script>
    <script src="{% static "assets/js/hover/setting.js" %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src="{% static "assets/js/custom.js" %}"></script>

</body>
</html>