<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h3>&nbsp;{% if donor %} Donor {% endif %}
		{% if userd %} Patient {% endif %}
		{% if hospoiatl %} Hospital {% endif %}
profile page</h3>
<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="#1" class="list-group-item list-group-item-action active">Edit Profile</a>
              <a href="#2" class="list-group-item list-group-item-action">Settings</a>              
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>{{ uname }} Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row" id="1">
		                <div class="col-md-12">
		                    <form action='upprofile/' method="POST">
                          {% if donor %}
                            <input type="hidden" name="uname" value="{{ uname }}">
                            <input type="hidden" name="catg" value="donor">
                            <div class="form-group row">
                              <label for="line1" class="col-4 col-form-label">Address Line 1</label>
                              <div class="col-8">
                                <input id="line1" name="line1" placeholder="Address Line 1" class="form-control here" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="line2" class="col-4 col-form-label">Address Line 2</label>
                              <div class="col-8">
                                <input id="line2" name="line2" placeholder="Address Line 2" class="form-control here" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="city" class="col-4 col-form-label">City</label>
                              <div class="col-8">
                                <input id="city" name="city" placeholder="City" class="form-control here" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="pincode" class="col-4 col-form-label">Pin Code</label>
                              <div class="col-8">
                                <input id="pincode" name="pincode" placeholder="Pin Code" class="form-control here" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="weight" class="col-4 col-form-label">Weight</label>
                              <div class="col-8">
                                <input id="weight" name="weight" placeholder="Weight" class="form-control here" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="height" class="col-4 col-form-label">Height</label>
                              <div class="col-8">
                                <input id="height" name="height" placeholder="Height" class="form-control here" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="dob" class="col-4 col-form-label">date of Birth</label>
                              <div class="col-8">
                                <input id="dob" name="dob" placeholder="Date of Birth" class="form-control here" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="phno" class="col-4 col-form-label">Phone number</label>
                              <div class="col-8">
                                <input id="phno" name="phno" placeholder="Phone Number" class="form-control here" type="text">
                              </div>
                            </div>
                          {% endif %}
                          {% if hospital %}
                          <input type="hidden" name="uname" value="{{ uname }}">
                          <input type="hidden" name="catg" value="donor">
                          <div class="form-group row">
                            <label for="line1" class="col-4 col-form-label">Address Line 1</label>
                            <div class="col-8">
                              <input id="line1" name="line1" placeholder="Address Line 1" class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="line2" class="col-4 col-form-label">Address Line 2</label>
                            <div class="col-8">
                              <input id="line2" name="line2" placeholder="Address Line 2" class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="city" class="col-4 col-form-label">City</label>
                            <div class="col-8">
                              <input id="city" name="city" placeholder="City" class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="pincode" class="col-4 col-form-label">Pin Code</label>
                            <div class="col-8">
                              <input id="pincode" name="pincode" placeholder="Pin Code" class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="weight" class="col-4 col-form-label">Weight</label>
                            <div class="col-8">
                              <input id="weight" name="weight" placeholder="Weight" class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="height" class="col-4 col-form-label">Height</label>
                            <div class="col-8">
                              <input id="height" name="height" placeholder="Height" class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="dob" class="col-4 col-form-label">date of Birth</label>
                            <div class="col-8">
                              <input id="dob" name="dob" placeholder="Date of Birth" class="form-control here" type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="phno" class="col-4 col-form-label">Phone number</label>
                            <div class="col-8">
                              <input id="phno" name="phno" placeholder="Phone Number" class="form-control here" type="text">
                            </div>
                          </div>
                        {% endif %}
                        {% if userd %}
                        <input type="hidden" name="uname" value="{{ uname }}">
                        <input type="hidden" name="catg" value="user">
                        <div class="form-group row">
                          <label for="dob" class="col-4 col-form-label">Date of Birth</label>
                          <div class="col-8">
                            <input id="dob" name="dob" placeholder="Date of Birth" class="form-control here" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="phno" class="col-4 col-form-label">Phone number</label>
                          <div class="col-8">
                            <input id="phno" name="phno" placeholder="Phone Number" class="form-control here" type="text">
                          </div>
                        </div>
                    {% endif %}
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                </div>
                              </div>
                            </form>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-12">
                        <h4>General Settings</h4>
                        <hr>
                    </div>
                </div>
                <div class="row" id="2">
		                <div class="col-md-12"x>
		                  <form action='upsett/' method="POST">
                        <input type="hidden" name="uname" value="{{ uname }}">
                        <input type="hidden" name="catg" value="donor">
                        <div class="form-group row">
                            <label for="line1" class="col-4 col-form-label">Confirm Password</label>
                            <div class="col-8">
                              <input id="opasswd" name="passwd" placeholder="Confirm your current password*" class="form-control here" required='required' type="text">
                            </div>
                          </div>
                          <div class="form-group row">
                              <label for="line1" class="col-4 col-form-label">New Password</label>
                              <div class="col-8">
                                <input id="npasswd" name="npasswd" placeholder="Enter new password*" class="form-control here" required='required' type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="line1" class="col-4 col-form-label">Confirm New Password</label>
                                <div class="col-8">
                                  <input id="npasswdc" name="npasswdc" placeholder="Confirm your new password*" class="form-control here" required='required' type="text">
                                </div>
                              </div>
                                <div class="form-group row">
                              <div class="offset-4 col-8">
                                <button name="submit" type="submit" class="btn btn-primary">Update My Settings</button>
                              </div>
                            </div>
                      </form>        
        </div>
		    </div>
		</div>
	</div>
</div>