<!DOCTYPE html>
{% extends "base.html" %}

<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
</head>

<body style="font-size:16px">

  {% block body %}

  <section id="intro">
<div class="container">

<form method="post" action="">
	{% csrf_token %}
    <input type="hidden" id="csrf_token" value='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <center>
<h2>Register</h2>
{% if eunm %}
<div style="border:1px solid red; background:maroon; color:white; width:150px; height:25px; padding:5px; border-radius:5px;">Username already exists</div>
{% endif %}
{% if eem %}
<div style="border:1px solid red; background:maroon; color:white; width:250px; height:25px; padding:5px; border-radius:5px;">Email already exists. Try <a href = "/accounts/login">logging in</a>.</div>
{% endif %}
<hr>
	<table>
<!--      <tr>
        <td>
            {% load socialaccount %}
            <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Signup</a>
        </td>
      </tr>-->
        <tr>
            <td  style='color:black;'>Enter your email:</td>
            <td  style='color:black;'><input type="email" name="email" required/></td>
        </tr>
        <tr>
            <td  style='color:black;'>Enter your User Name:</td>
            <td  style='color:black;'><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td  style='color:black;'>Enter your password:</td>
            <td  style='color:black;'><input type="password" name="passwd" required/></td>
        </tr>
        <tr>
            <td  style='color:black;'>
                Who are you?
            </td>
            <td  style='color:black;'>
                <input type="radio" name="category" id="donorradio" value="donor" onclick="divfunction()">Donor&nbsp;
                <input type="radio" name="category" id="hosradio" value="hospital" onclick="divfunction()">Hospital&nbsp;
                <input type="radio" name="category" id="userradio" value="users" onclick="divfunction()">Patient
            </td>
        </tr>

</table>
<div id="test">

</div>

</form>
	</div>
</section>


<script>
//type="text/javascript" src="{% static 'register.js' %}">
function divfunction()
{
    var x = document.getElementById("donorradio").checked;
    var y = document.getElementById("userradio").checked;
    var z = document.getElementById("hosradio").checked;

    var xd= "<table>\
      <tr>\
        <td  style='color:black;'>Enter your First Name:</td> \
        <td  style='color:black;'><input type='text' name='fname' required/></td>\
      </tr>\
        <tr>\
          <td  style='color:black;'>Enter your Last Name:</td>\
          <td  style='color:black;'><input type='text' name='lname' required/></td>\
        </tr>\
        <tr>\
          <td  style='color:black;'>Enter your date of birth:</td>\
          <td  style='color:black;'><input type='date' name='dob' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Enter your address line1:</td>\
            <td  style='color:black;'><input type='text' name='line1' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Enter your address line2:</td>\
            <td  style='color:black;'><input type='text' name='line2' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Enter your City:</td>\
            <td  style='color:black;'><input type='text' name='city' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>State:</td> \
            <td  style='color:black;'><input type='text' name='state' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Enter your postalcode:</td>\
            <td  style='color:black;'><input type='text' name='postalcode' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Enter your country:</td>\
            <td  style='color:black;'><input type='text' name='country' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Your Gender:</td> \
            <td  style='color:black;'>\
            <select name='gender'>\
              <option value='M'>Male</option>\
              <option value='F'>Female</option>\
              <option value='O'>Other</option>\
            </select>\
            </td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Your Blood Group:</td> \
            <td  style='color:black;'>\
            <select name='bgroup'>\
              <option value='O+'>O '+ve'</option>\
              <option value='O-'>O '-ve'</option>\
              <option value='A+'>A '+ve'</option>\
              <option value='A-'>A '-ve'</option>\
              <option value='B+'>B '+ve'</option>\
              <option value='B-'>B '-ve'</option>\
              <option value='AB+'>AB '+ve'</option>\
              <option value='AB-'>AB '-ve'</option>\
            </select>\
            </td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Enter your Height:</td>\
            <td  style='color:black;'><input type='text' name='height' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Enter your Weight:</td>\
            <td  style='color:black;'><input type='text' name='weight' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'>Your Phone Number:</td>\
            <td  style='color:black;'><input type='number' name='phno' required/></td>\
          </tr>\
          <tr>\
            <td  style='color:black;'></td>\
            <td  style='color:black;'><button>Submit Form</button></td>\
          </tr>\
          <tr>\
          </tr>\
      </table>"


    var yd="<table>\
                    <tr>\
                      <td  style='color:black;'>Enter your First Name:</td>\
                      <td  style='color:black;'><input type='text' name='fname' required/></td>\
                    </tr>\
                    <tr>\
                      <td  style='color:black;'>Enter your Last Name:</td>\
                      <td  style='color:black;'><input type='text' name='lname' required/></td>\
                      </tr>\
                      <tr>\
                        <td  style='color:black;'>Enter your date of birth:</td>\
                        <td  style='color:black;'><input type='date' name='dob' required/></td>\
                      </tr><tr><td  style='color:black;'>Your Gender:</td>\
                        <td  style='color:black;'>\
                          <select name='gender'>\
                            <option value='M'>Male</option>\
                            <option value='F'>Female</option>\
                            <option value='O'>Other</option>\
                          </select>\
                        </td>\
                      </tr>\
                      <tr>\
                        <td  style='color:black;'>Your Blood Group:</td>\
                        <td  style='color:black;'>\
                          <select name='bgroup'>\
                            <option value='O+'>O '+ve'</option>\
                            <option value='O-'>O '-ve'</option>\
                            <option value='A+'>A '+ve'</option>\
                            <option value='A-'>A '-ve'</option>\
                            <option value='B+'>B '+ve'</option>\
                            <option value='B-'>B '-ve'</option>\
                            <option value='AB+'>AB '+ve'</option>\
                            <option value='AB-'>AB '-ve'</option>\
                          </select>\
                        </td>\
                      </tr>\
                      <tr>\
                        <td  style='color:black;'>Your Phone Number:</td>\
                        <td  style='color:black;'><input type='number' name='phno' required/></td>\
                      </tr>\
                      <tr>\
                        <td  style='color:black;'><button>Submit Form</button></td>\
                      </tr>\
                    </table>";
    var zd="<table>\
              <tr>\
                <td  style='color:black;'>Enter hospital's Name:</td>\
                <td  style='color:black;'><input type='text' name='name' required/></td>\
              </tr>\
              <tr>\
                <td  style='color:black;'>Enter hospital's address line1:</td>\
                <td  style='color:black;'><input type='text' name='line1' required/></td>\
              </tr>\
              <tr>\
                <td  style='color:black;'>Enter hospital's address line2:</td>\
                <td  style='color:black;'><input type='text' name='line2' required/></td>\
              </tr>\
              <tr>\
                <td  style='color:black;'>Enter city where hospital is in:</td>\
                <td  style='color:black;'><input type='text' name='city' required/></td>\
              </tr>\
              <tr>\
                <td  style='color:black;'>Enter state:</td>\
                <td  style='color:black;'><input type='text' name='state' required/></td>\
              </tr>\
              <tr>\
                <td  style='color:black;'>Enter Zipcode for hospital location:</td>\
                <td  style='color:black;'><input type='text' name='postalcode' required/></td>\
              </tr>\
              <tr>\
                <td  style='color:black;'>Enter hospital's license key:</td>\
                <td  style='color:black;'><input type='text' name='license' required/></td>\
              </tr>\
              <tr>\
                <td  style='color:black;'></td><td  style='color:black;'><button>Submit Form</button></td>\
              </tr>\
            </table>";
    switch(true)
    {
        case x:
            document.getElementById("test").innerHTML = xd;
            break;
        case y:
            document.getElementById("test").innerHTML = yd;
            break;
        case z:
            document.getElementById("test").innerHTML = zd;
            break;
    }
}
</script>
</section>
{% endblock %}

</body>
</html>
